.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header
.container { 
    display: flex;
    align-items: center;
 }

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.nav-header {
    display: flex;
    align-items: center;

}

img {
    display: block;
}

ul {
    list-style: none;
    margin: 0 ;
    padding: 0 ;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
.clicker{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    background-color: #4D5AE5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.clicker:hover{
    background: #404BBF;
}
.clicker:focus{
    background-color: #404BBF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

.header-items:hover{
    color: #404BBF;
}
.header-contacts:focus{
color: #404bbf
}
.heder-items::after {
    content: '' ;
    width: 100% ;
    position: absolute; 
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.address{
    font-style: normal;
    margin-left: auto;
}

.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
        position: relative;
        color: #404bbf; 
}
.dark{
    color: #2e2f42;
}
.light{
color: #f4f4fd;
}
.header-list {
    display: flex;
    gap: 40px;
}
.header-items{
   
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
}



.address-list {
    display: flex;
    gap: 40px;
    
}


.header-contacts{
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px;
}

.main_section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
    font-family: "Roboto", sans-serif;

}


.main_button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:  #4d5ae5;
    border-radius: 4px;
    margin: 0 auto;
    
}

.main_button:hover,
.main_button:focus {
    background-color: #404bbf;
}
.custom_section {
    padding: 120px 0;
}
.custom_header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42; 
    margin:0 auto;
    margin-bottom: 8px;
    
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.privileges_list{
    display: flex;
    gap: 24px;
}

.privilege_item {
    width: calc((100% - 72px) / 4);
    
}

.privilege-icon1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    background-image: url(../images/icon_1.svg);
}

.privilege-icon2 {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    background-image: url(../images/Icon_2.svg);
}

.privilege-icon3 {

    display: flex;
    align-items: center;
    justify-content: center; 
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    background-image: url(../images/icone_3.svg);
}

.privilege-icon4 {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    background-image: url(../images/icon_4.svg);
}

.privilege_header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42; 
    margin-bottom: 8px;
}
.privilege_description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}





.team-info {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    font-weight: bold;
    
}

.team-header {
    background-color: #F4F4FD;
    padding: 120px 0;
    
}
.team-list {
    display: flex;
    gap: 24px;
}

.white-background {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
}
.li-div {
    padding: 32px 0;
}
      
.team-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455 ;
    text-align: center;

}

.icons-styles {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.portolio-section {
    padding-top: 120px; 
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.portfolio-li {
    width: calc((100% - 48px) / 3);
}


.portfolio-divli {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer_section {
    background-color: #2e2f42;
    line-height: 1.5;
    padding: 100px 0;
}

.footer_logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;  
}

.footer_logo_span {
    color: #f4f4fd;
    
}

.footer_description {
    line-height: 1.5;
    color: var(--footer-text-color, #F4F4FD);
    letter-spacing: 0.02em;
    max-width: 264px;
}